<div id="<%= dom_id story %>">
  <h2><%= story.title %></h2>
  <h4>posted by <%= link_to story.user.name, user_path(story.user) %></h4>
  <h6> <%= pluralize(story.views, "view") %> </h6>
  <div>
    <%= story.body %>
  </div>
</div>
