<div class="container">
  <%= render @story %>
  <div>
    <%= link_to "Edit this story", edit_story_path(@story) %> |
    <%= link_to "Back to stories", stories_path %>
    <%= button_to "Destroy this story", @story, method: :delete %>
  </div>
</div>
<div class="container">
  <%= render 'comments/form',
    story: @story,
    comment: @story.comments.build,
    submit_label: 'Reply' %>
  <% @comments.each do |comment| %>
    <%= render 'comments/comment', story: @story, comment: comment %>
  <% end %>
</div>
